@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import "normalize";

@mixin text_one {
    display: flex;
    justify-content: center;
        h2{
        position: absolute;
        text-align: center;
        font-family: 'Fraunces', serif;
        font-size: 10vw;
        color: rgb(0, 0, 0);
        }
        p{
        position: absolute;
        font-family: 'Barlow', sans-serif;
        font-size: 4vw;
        color: #808397;
        line-height: 7vw;
        margin-left: 4vw;
        margin-right: 4vw;
        }
        a{
        position: absolute;
        font-family: 'Fraunces', serif;
        font-size: 4vw;
        color: black;
        }
}

@mixin text_two {
    h3{
        position: absolute;
        text-align: center;
        font-family: 'Fraunces', serif;
        font-size: 8vw;
    }
    p{
        font-family: 'Barlow', sans-serif;
        font-size: 4vw;
        line-height: 7vw;
    }
}

@mixin text_three {
    .customer_desc{
        font-family: 'Barlow', sans-serif;
        line-height: 7vw;
        font-size: 4vw;
        color: #5B636D;
        margin-left: 9vw;
        margin-right: 9vw;
        font-weight: 600;
    }
    .customer_sing{
        font-family: 'Fraunces', serif;
        font-weight: 900;
        color: black;      
    }
    .customer_job{
        font-family: 'Barlow', sans-serif;
        font-size: 3vw;
        color: #A7AAAD;
        font-weight: 600;
    }
}

    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: absolute;
        margin: 0;
        padding: 0;
        text-align: center;
       .one{
        background-image: url(./assets/image-header-mobile.jpg);
        width: 100%;
        background-size: cover;
        height: 140vw;
        justify-content: center; 
        overflow: hidden;
            .top_bar{
                visibility: hidden;
            }
            .logo_header{
                width: 25vw;
                padding-top: 5vw;
            }
            .burger_menu{
                width: 6vw;
                padding-left: 45vw;
                margin-top: 5vw;
            }
            h1{
                font-family: 'Fraunces', serif;
                color: white;
                margin-top: 20vw;
                font-size: 15vw;
                font-weight: 900;
            }
            .arrow{
                position: absolute;
                align-items: center;
            }
        }
        .two{
        display: flex;
            .egg{
                width: 100vw;
                position: absolute;
                align-content: center;
            }
        }
        .three{
            @include text_one;
            h2{
            margin-top: 95vw;
            }
            p{
            margin-top: 125vw;
            }
            a{
            margin-top: 160vw;
            }
        }
        .four{
        display: flex;
            .glass{
            width: 100vw;
            position: absolute;
            align-content: center;
            margin-top: 175vw;
            }
        }
        .five{
        @include text_one;
        h2{
            margin-top: 275vw;
            }
            p{
            margin-top: 305vw;
            margin-left: 3vw;
            margin-right: 3vw;
            }
            a{
            margin-top: 340vw;
            }
        
        }
        .six{
        background-image: url(./assets/cherry-mobile.jpg);
        width: 100%;
        background-size: cover;
        height: 165vw;
        justify-content: center; 
        overflow: hidden;
        position: absolute;
        margin-top: 495vw;
        @include text_two;
        display: flex;
        align-items: center;
            h3{
               margin-top: 80vw; 
               color: #24554A;
            }
            p{
                margin-top: 120vw;
                font-size: 4vw;
                margin-left: 3vw;
                margin-right: 3vw;
                color: #24554A;
            }
        }
        .seven{
        background-image: url(./assets/madarine-mobile.jpg);
        width: 100%;
        background-size: cover;
        height: 165vw;
        justify-content: center; 
        overflow: hidden;
        position: absolute;
        margin-top: 655vw;
        @include text_two;
        display: flex;
        align-items: center;
            h3{
               margin-top: 80vw; 
               color: #052C3B;
            }
            p{
                margin-top: 120vw;
                font-size: 4vw;
                margin-left: 3vw;
                margin-right: 3vw;
                color: #052C3B;
            }

        }
        .height{
            position: absolute;
            width: 100%;
            margin-top: 828vw;
            h4{
            font-family: 'Fraunces', serif;
            color: #A7AAAD;
            letter-spacing: 1vw;
            text-transform: uppercase;
            font-size: 4vw;
            }
            .photo{
                border-radius: 50%;
            }
            @include text_three;
        }
        .nine{
            margin-top: 1100vw;
            position: absolute;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            .four_img{
                width: 50vw;
                background-size: cover;
                }
            }
}
